@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body:before {
    right: 0;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 99999999999;
    position: fixed;
    content: "";
    display: block;
    -webkit-transform: translateY(-99.99px);

    /*
    Customize the look of Rainbow Safari by changing the background color, like this:
    background-color: #ff0000;
    */
  }
}