
#rainbowsafari {
	position: absolute; 
	left: 0;
	right: 0;
	top: 0;
	height: 0px;
	z-index: 99999999999;
}

.rs-rainbow {
	background: -webkit-gradient(linear,  left top,  right top, 
        color-stop(0%, rgba(255, 0, 0, 1)), 
        color-stop(15%, rgba(255, 255, 0, 1)),
        color-stop(30%, rgba(0, 255, 0, 1)),
        color-stop(50%, rgba(0, 255, 255, 1)),
        color-stop(65%, rgba(0, 0, 255, 1)),
        color-stop(80%, rgba(255, 0, 255, 1)),
        color-stop(100%, rgba(255, 0, 0, 1)));
}

.rs-blue {
	background-color: #1ea4f0;
}

.rs-blank {
	background-color: inherit;
}

.random-color {
	background: #fff;
	
	-webkit-animation: random-color 5s linear alternate infinite;
          animation: random-color 5s linear alternate infinite;
}

@-webkit-keyframes random-color {
  20% {
    background: #08f48b;
  }
  40% {
    background: #b7cc71;
  }
  60% {
    background: #da7254;
  }
  80% {
    background: #478db5;
  }
  100% {
    background: #2e77ac;
  }
}

@keyframes random-color {
  20% {
    background: #08f48b;
  }
  40% {
    background: #b7cc71;
  }
  60% {
    background: #da7254;
  }
  80% {
    background: #478db5;
  }
  100% {
    background: #2e77ac;
  }
}


